$colores:
#F9E8D5ff,
#CCA77Aff;


$fuentetablet: 70%;
$fuentecelular: 50%;

@mixin flex {
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header"
        "main main"
        "footer footer";
}


